# Build outputs
*.apk
*.aab
*.ap_
*.dex
*.class
**/build/
**/out/

# IDE
.idea/
*.iml
*.jks
*.key
*.hprof
captures/
.thumbs/
local.properties

# Generated
.gradle/
*.log

# Nostr tools
node_modules/

# OS
.DS_Store
Thumbs.db
